

**Day 8 – Exercises**

**Write a Python script to merge two Python dictionaries**

In [1]:
#creating two dictionaries
dict1={'Sneha':85,'Arjun':18,'Meenu':57,'Sree':88}
dict2={'Sai':76,'Madhav':56,'Akshay':12,'Nandhu':67}

#merging two dictionaries using update() method
dict1.update(dict2)
print("Merged Dictionaries =",dict1)

#merging two dictionaries using ** operator
dict3={**dict1,**dict2}
print("Merged Dictionaries =",dict3)

Merged Dictionaries = {'Sneha': 85, 'Arjun': 18, 'Meenu': 57, 'Sree': 88, 'Sai': 76, 'Madhav': 56, 'Akshay': 12, 'Nandhu': 67}
Merged Dictionaries = {'Sneha': 85, 'Arjun': 18, 'Meenu': 57, 'Sree': 88, 'Sai': 76, 'Madhav': 56, 'Akshay': 12, 'Nandhu': 67}

**Write a program to sort the value from descending to ascending in list and convert it in to a set.**

In [42]:
list1=[1,89,66,6,92,60,963,61,72,2,38,5]
list1.sort() #sort list in ascending order
print(list1)


list1.sort(reverse=True)
print(list1)


set1=set(list1) 
print(set1) # after conversion of set the duplication is removed

type(set1)


type(list1)

[1, 2, 5, 6, 38, 60, 61, 66, 72, 89, 92, 963]
[963, 92, 89, 72, 66, 61, 60, 38, 6, 5, 2, 1]
{1, 66, 963, 2, 5, 38, 6, 72, 60, 89, 92, 61}

list

**• Write a Python program to list number of items in a dictionary key and sort the list with the help of a function & without the function.**

In [43]:
dict1={'arjun':[2,3,1,6],'sneha':[2,7,4,3],'nandhu':[4,7,8,8],'lechu':[3,6,5,4]}
result={k:sorted(dict1[k]) for k in sorted(dict1)}
print(result)

{'arjun': [1, 2, 3, 6], 'lechu': [3, 4, 5, 6], 'nandhu': [4, 7, 8, 8], 'sneha': [2, 3, 4, 7]}

In [44]:
def function1(dic1):
    res = dict()
    for key in sorted(dic1):
        res[key] = sorted(dic1[key])
    return res
function1(dict1)

{'arjun': [1, 2, 3, 6],
 'lechu': [3, 4, 5, 6],
 'nandhu': [4, 7, 8, 8],
 'sneha': [2, 3, 4, 7]}

In [45]:
def function2(dict1):
    res=dict()
    min1=dict1[key]
    for key in sorted(dict1):
        if dict1[key]<min1:
            min1=dict1[key]
            res[key]=min1
    return res
function1(dict1)

{'arjun': [1, 2, 3, 6],
 'lechu': [3, 4, 5, 6],
 'nandhu': [4, 7, 8, 8],
 'sneha': [2, 3, 4, 7]}

**• Write a Python program to get a string from a given string (user input) and 
change the first occurrence of the word to a user specified input.**

In [33]:
def fun():
    user=input("Enter the string :")
    word="String is given by user  "
    return user+word[6:]
fun()

Enter the string :Hello

'Hello is given by user  '

In [34]:
def string1():
    user=input("Enter the string :")
    word="String is given by user  "
    return word.replace('String',user)
string1()

Enter the string :Python

'Python is given by user  '

**• Write a Python program to get a string from a given string where all 
occurrences of its first char have been changed to capital letter.**

In [31]:
def function2():
    user=input("Enter the string :")
    return user.capitalize()
function2()

def change_char(str1):
    char = str1[0]
    str1 = str1.replace(char, str1[0].upper())
    str1 = char + str1[1:]
    return str1
change_char("best-enlist-python-internship-bootcamp-program")

Enter the string :bestenlist

'best-enlist-python-internship-Bootcamp-program'

**• Write a Python program to find the repeated items of a list**

In [24]:
#method1
from collections import Counter
l1 =[1,6,8,3,7,3,9,2,3,7,3]
d = Counter(l1)
print(d)
new_list = list([item for item in d if d[item]>1])
print(new_list)

#method2
def Repeat(x):
    _size = len(x)
    repeated = []
    for i in range(_size):
        k = i + 1
        for j in range(k, _size):
            if x[i] == x[j] and x[i] not in repeated:
                repeated.append(x[i])
    return repeated
list1 = [1,9,3,6,9,6,9,8,6,9,6,3,5,8,9,3]
print (Repeat(list1))

Counter({3: 4, 7: 2, 1: 1, 6: 1, 8: 1, 9: 1, 2: 1})
[3, 7]
[9, 3, 6, 8]

**• Write a Python program to check the sum of three elements and divided by a 
value which is given as an input by the user**

In [21]:
a=int(input("Enter number ="))
b=int(input("Enter number ="))
c=int(input("Enter number ="))
sum=a+b+c
print("Sum =",sum)
user=int(input("Enter the number to divide the sum ="))
if sum% user==0:
    print("Sum can be divided by the number")
else :
    print("Sum cannot be divided by the number")

Enter number =4
Enter number =6
Enter number =8
Sum = 18
Enter the number to divide the sum =3
Sum can be divided by the number

**• Write a Python program to find the Mean,median,mode among three given 
numbers**

In [20]:
from collections import Counter
#mean
n_num = [1, 2, 3, 4, 5]
n = len(n_num)
  
get_sum = sum(n_num)
mean = get_sum / n
  
print("Mean / Average is: " + str(mean))
#median
n = len(n_num)
n_num.sort()
  
if n % 2 == 0:
    median1 = n_num[n//2]
    median2 = n_num[n//2 - 1]
    median = (median1 + median2)/2
else:
    median = n_num[n//2]
print("Median is: " + str(median))
#mode  
data = Counter(n_num)
get_mode = dict(data)
mode = [k for k, v in get_mode.items() if v == max(list(data.values()))]
  
if len(mode) == n:
    get_mode = "No mode found"
else:
    get_mode = "Mode is / are: " + ', '.join(map(str, mode))
      
print(get_mode)

Mean / Average is: 3.0
Median is: 3
No mode found

**• Write a Python program to swap cases of a given string**

In [11]:
a="Sneha"
b="Sanil"
tep=a
a=b
b=tep
print(a,b)

x = a
y = b
x, y = y, x
print(x,y)

Sanil Sneha
Sneha Sanil

**Write a program to convert an integer to binary & octa decimal**

In [9]:
def decToOctal(n):
    octalNum = [0] * 100
    i = 0
    while (n != 0):
        octalNum[i] = n % 8
        n = int(n / 8)
        i += 1
    for j in range(i - 1, -1, -1):
        print(octalNum[j], end="")
n=56
decToOctal(n)

70