### **DAY 9**

## **EXERCISE**

**1) Write a program to loop through a list of numbers and add +2 to every value to elements in list**

In [1]:
list1=[1,2,3,4,5]
result=[]
for i in list1:
	result.append(i+2)
	print(result)

[3]
[3, 4]
[3, 4, 5]
[3, 4, 5, 6]
[3, 4, 5, 6, 7]

**2)Write a program to get the below pattern**
                **54321**
                **4321**
                **321**
                **21**
                **1**

In [2]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

**3)Python Program to Print the Fibonacci sequence**

In [4]:
def fibo(n):
    n1, n2 = 0, 1
    count = 0
    if n<0:
        print("Incorrect Input")
    elif n == 1 or n == 2:
        print('1')
    else :
         while count < n:
                print(n1)
                nth = n1 + n2
                n1 = n2
                n2 = nth
                count += 1
fibo(10)

0
1
1
2
3
5
8
13
21
34

**4)Explain Armstrong number and write a code with a function**

Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [6]:
num = int(input("Enter a number: "))
sum1 = 0
temp1 = num
while temp1 > 0:
    digit1 = temp1 % 10
    sum1 += digit1**3
    temp1 //= 10
if num == sum1:
    print(num,"is an Armstrong number")
else:
    print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

**5)Write a program to print the multiplication table of 9**

In [7]:
for i in range(1,11):
    print("9 x ",i,' = ',i*9 )

9 x  1  =  9
9 x  2  =  18
9 x  3  =  27
9 x  4  =  36
9 x  5  =  45
9 x  6  =  54
9 x  7  =  63
9 x  8  =  72
9 x  9  =  81
9 x  10  =  90

**6)Check if a program is negative or positive**

In [10]:
lid=[56,-936,27,-6,-632,69,96]
for i in lid:
    if i >=0:
        print(i," is positive")
    else :
        print(i,' is negative ')

56  is positive
-936  is negative
27  is positive
-6  is negative
-632  is negative
69  is positive
96  is positive

**7)Write a program to convert the number of days to ages**

In [11]:
def find( number_of_days ):
    year = int(number_of_days / 365)
    print(year,'Years ago !')
no_days=675
find(no_days)

1 Years ago !

**8)Solve Trigonometry problem using math function write a program to solve using math function**

In [14]:

import math
def trigo(n,m):
    if n=='sin':
        return math.sin(m)
    elif n=='cos':
        return math.cos(m)
    elif n=='cosin':
        return math.cosine(m)
    elif n=='tan':
        return math.tan(m)
    elif n=='sec':
        return math.sec(m)
    elif n=='cosec':
        return math.cosec(m)
trigo('sin',90)

0.8939966636005579

**9)Create a calculator only on a code level by using if condition (Basic arithmetic calculation)** **bold text**

In [17]:
def calculate():
    print('+')
    print('-')
    print('*')
    print('/')
    print('%')
    print('**')
    operation = input("Select an operator:")
    print("Enter two numbers")
    number_1 = int(input())
    number_2 = int(input())

    if operation == '+': # To add two numbers
        print(number_1 + number_2)
    elif operation == '-': # To subtract two numbers
        print(number_1 - number_2)
    elif operation == '*': # To multiply two numbers
        print(number_1 * number_2)
    elif operation == '/': # To divide two numbers
        print(number_1 / number_2)
    elif operation == '%': # To remainder two numbers
        print(number_1 % number_2)
    elif operation == '**': # To num1 exponent num2
        print(number_1 ** number_2)
    else:
        print('Invalid Input')
calculate()

+
-
*
/
%
**
Select an operator:**
Enter two numbers
2
9
512