<a href="https://colab.research.google.com/github/Sneha-coder08/Best-Enlist-Python-Internship-Bootcamp-Program/blob/main/DAY_24_TASK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DAY 24**

## **Exercise**

## **Create a JSON of all object types and import the JSON into a SQL Database**

In [ ]:
import json

In [ ]:
json_data=[
    {'name':"Arjun",'age':22,'Permanent_staff':True,'salary':75000.00,'dept_desgn':'Software Developer'},
     {'name':"Sneha",'age':19,'Permanent_staff':True,'salary':156000.00,'dept_desgn':"Data Analyst"},
     {'name':"Manu",'age':18,'Permanent_staff':True,'salary':38000.00,'dept_desgn':'Web Developer'},
     {'name':"Giri",'age':21,'Permanent_staff':False,'salary':63000.00,'dept_desgn':'Data Scientist'},
     {'name':"Surya",'age':23,'Permanent_staff':True,'salary':90000.00,'dept_desgn':'Help Desk Analyst'}    
]

In [ ]:
res =json.dumps(json_data)

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(host="localhost",user="root",password="12345")
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000183CF004DC0>

In [ ]:
dbse = mydb.cursor()
dbse.execute("CREATE DATABASE JSONRECORDS1")

In [ ]:
dbse = mydb.cursor()
dbse.execute("SHOW DATABASES")
for entry in dbse:
    print(entry)

('doctors',)
('employee_details',)
('information_schema',)
('jsonrecords1',)
('mydatabase',)
('mysql',)
('performance_schema',)
('students_management_system',)
('sys',)
('website',)
('websites',)

In [ ]:
mydb = mysql.connector.connect(host="localhost",user="root",password="12345",database="jsonrecords1")
dbse = mydb.cursor()
dbse.execute("CREATE TABLE employee (name VARCHAR(255),age INT, permanent_staff VARCHAR(255), salary DOUBLE, dept_and_designation VARCHAR(255))")

In [ ]:
dbse = mydb.cursor()
dbse.execute("SHOW TABLES")
for value in dbse:
    print(value)

('employee',)

In [ ]:
dbse = mydb.cursor()
dbse.execute("SHOW COLUMNS FROM employee")
for value in dbse:
    print(value)

('name', b'varchar(255)', 'YES', '', None, '')
('age', b'int', 'YES', '', None, '')
('permanent_staff', b'varchar(255)', 'YES', '', None, '')
('salary', b'double', 'YES', '', None, '')
('dept_and_designation', b'varchar(255)', 'YES', '', None, '')