

**Day 5 – User Inputs, Other Important Datatypes**

***Exercise***:

**1)Write a program to create a list of n integer values and do the following**
**•	Add an item in to the list (using function)**
**•	Delete (using function)**
**•	Store the largest number from the list to a variable**
**•	Store the Smallest number from the list to a variable**

In [ ]:
#create a list of n integer values
no=5
l=[]
for i in range(no):
    x=int(input())
    l.append(x)

1
2
3
4
5

In [ ]:
#Add an item in to the list
l.append(6)
print("List =",l)

List = [1, 2, 3, 4, 5, 6]

In [ ]:
l.insert(0,0)
print("List =",l)

List = [0, 1, 2, 3, 4, 5, 6]

In [ ]:
#Delete an item
del l[5]
print("List =",l)

List = [0, 1, 2, 3, 4, 6]

In [ ]:
l.pop()
print("List =",l)

List = [0, 1, 2, 3, 4]

In [4]:
#Store the largest number from the list to a variable

# list of numbers
list1 = [10, 20, 4, 45, 99]
  
# sorting the list
list1.sort()
  
# printing the last element
print("Largest element is:", list1[-1])

Largest element is: 99

In [5]:
#Store the smallest number from the list to a variable

# list of numbers
list1 = [10, 20, 4, 45, 99]
  
# sorting the list
list1.sort()
  
# printing the last element
print("Smallest element is:", list1[0])

Smallest element is: 4

**2) Create a tuple and print the reverse of the created tuple**

In [ ]:
#Reverse of tuple - Using the technique of slicing
tuple=(1,2,3,4,5,6,7,8,9)
reverse=tuple[::-1]
print("Reverse of tuple =",reverse)

Reverse of tuple = (9, 8, 7, 6, 5, 4, 3, 2, 1)

**3) Create a tuple and convert tuple into list**

In [10]:
#convert tuple into list
tuple_1 = ('a', 'e', 'i', 'o', 'u')
print("Tuple before converting into list",tuple_1)
list_1 = [*tuple_1,]
print("Tuple after converting into list",list_1)
print(type(list_1))

Tuple before converting into list ('a', 'e', 'i', 'o', 'u')
Tuple after converting into list ['a', 'e', 'i', 'o', 'u']
<class 'list'>